In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('/content/earthquakes.csv', sep = ',')
data.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [34]:
data.shape

(9332, 26)

In [35]:
#1.How many earthquake have magType 'ml' and type 'explosion'?
a = sum((data['magType'] == 'ml') & (data['type'] == 'explosion'))
a

79

In [36]:
#2.Calculate the mean of mag in Alaska and the distance is smaller than 100km, example:
#"62km W of Cantwell, Alaska".
b = data[(data['place'].str.contains('Alaska')) &~ (data['place'].str.contains('\d{3,}',regex = True))]
b.mag.mean()

1.3744199088678577

In [43]:
#3.Calculate the mean of mag in each quarter (q1:m1-m3, q2: m4-m6, q3: m7-m9, q4: m10-12),
# the "time" field stores the milliseconds from 1/1/1970, hint: timestamp.
data['time'] = pd.to_datetime(data['time'], unit = 'ms')
data['time'].unique

<bound method Series.unique of 0      2018-10-13 23:59:28.010
1      2018-10-13 23:58:49.610
2      2018-10-13 23:57:42.610
3      2018-10-13 23:56:18.070
4      2018-10-13 23:51:56.050
                 ...
9327   2018-09-18 00:23:48.060
9328   2018-09-18 00:22:15.130
9329   2018-09-18 00:18:28.180
9330   2018-09-18 00:12:25.350
9331   2018-09-18 00:01:04.470
Name: time, Length: 9332, dtype: datetime64[ns]>

In [44]:
q1=data[(data['time'].dt.month>=1)&(data['time'].dt.month<=3)]
q1.mag.mean()

nan

In [45]:
q2=data[(data['time'].dt.month>=4)&(data['time'].dt.month<=6)]
q2.mag.mean()

nan

In [46]:
q3=data[(data['time'].dt.month>=7)&(data['time'].dt.month<=9)]
q3.mag.mean()

1.466735124760082

In [47]:
q4=data[(data['time'].dt.month>=10)&(data['time'].dt.month<=12)]
q4.mag.mean()

1.5360446493569568

In [48]:
pd.DatetimeIndex(data['time']).month.value_counts()

9     5211
10    4121
Name: time, dtype: int64